@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@tailwind components;
@tailwind utilities;

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
}
.content {
  max-width: 1200px;
  min-height: 58vh;
  margin: auto;
  padding: 20px;
  align-items: center;
  color: black;
}
.icons {
  position: relative;
  top: 5px;
  bottom: 5px
}
.buttons {
  color: white;
  background-color: #36311d;
  border-radius: 8px;
  border-color: #36311d;
  border-style: none;
}
.buttons:hover {
  box-shadow: 1px 3px 5px #000000;
  background-color: #5E7A4B;
  cursor: pointer;
}

.multi-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

.multi-button button {
  flex: 1;
  -moz-appearance: none;
  -webkit-appearance: none;
  transform: translateY(20px);
  transition: transform 500ms, box-shadow 150ms;
  position: relative;
  padding: 1em 1em;
  border: 2px solid #f2f2f2;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 2px;
  box-shadow: 1px 1px 20px rgba(0,0,0,.1);
  color: white;
  background-color: #5E7A4B;
  overflow: hidden;
}

.multi-button button::before,
.multi-button button::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
}

.multi-button button::after {
  height: 0;
  background-color: #fff;
  transition: height 0.5s ease-in-out;
  z-index: -1;
  letter-spacing: 1px;

}

.multi-button button::before {
  background-color: #5E7A4B;
  height: 100%;
  z-index: -2;
  transition: all 300ms ease;
  letter-spacing: 1px;
}

.multi-button button:hover {
  color: #000000;
  transition:all 0.5s ease;
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(10px);
  letter-spacing: 5px;
}

.multi-button button:hover::after {
  height: 100%;
}

.multi-button button:nth-of-type(1) {
  border-radius: 8px 0 0 8px;
}
.multi-button button:nth-of-type(4) {
  border-radius: 0 8px 8px 0;
}


@keyframes towhite {
  0%   { color: inherit; }
  100% { color: white; }
}


/* NAVIGATION BAR */
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: cover;
  margin: 0 auto;
  border-bottom: 2px solid #f2f2f2;
  background-color: rgb(18, 19, 18);
  
}
.navbar h1 {
  color: #5E7A4B;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 17px;
  text-decoration: none;
  padding: 5px;
  color:#d8d8d8;
}
.navbar a:hover {
  color: #5a7b60;
}

/* HOME PAGE */
.box {
  display: block;
  max-width: 400px;
  min-width: 300px;
  max-height: max-content;
  min-height: min-content;
  box-shadow: 0px 0px 10px 2px #242323;
  border: 3px white solid;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}
.container {
  display: flex;
  gap: 3rem;
  border: 5px solid var(--color-primary);
  padding: 20px;
  width: 80%;
  margin: auto;
}
.container p{
  align-items: center;
  padding: 10px;
}
.container h2{
  align-items: center;
  padding: 10px;
}
.home h2, 
.home p {
  color: white;
  width: 80%;
  text-align: center;
  margin: auto;
} 

.container p, 
.container h2,
.clients h1,
.employees h1, 
.orders h1,
.product-list h1 {
  color: white;
}

/* FOOTER */
.w-full {
  max-width: 95%;
  align-items: center;
  margin: 1px auto;
  background-color: rgb(18, 19, 18);
}
