@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@tailwind components;
@tailwind utilities;

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
}
.content {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  align-items: center;
  color: black;
}
.icons {
  position: relative;
  top: 5px;
  bottom: 5px
}
.buttons {
  color: white;
  background-color: #568f45;
  border-radius: 8px;
  border-color: #568f45;
  border-style: none;
}
.buttons:hover {
  box-shadow: 1px 3px 5px #000000;
}

/* NAVIGATION BAR */
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: cover;
  margin: 0 auto;
  border-bottom: 2px solid #f2f2f2;
  background-color: rgb(18, 19, 18);
  
}
.navbar h1 {
  color: #8bc579;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 17px;
  text-decoration: none;
  padding: 5px;
  color:#d8d8d8;
}
.navbar a:hover {
  color: #adca8e;
}

/* HOME PAGE */
.box {
  display: block;
  max-width: 400px;
  min-width: 300px;
  max-height: max-content;
  min-height: min-content;
  box-shadow: 0px 0px 10px 2px #242323;
  border: 3px white solid;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}
.container {
  display: flex;
  gap: 3rem;
  border: 5px solid var(--color-primary);
  padding: 20px;
  width: 80%;
  margin: auto;
}
.container p{
  align-items: center;
  padding: 10px;
}
.container h2{
  align-items: center;
  padding: 10px;
}
.home h2, 
.home p {
  color: white;
  width: 80%;
  text-align: center;
  margin: auto;
} 

.container p, 
.container h2 {
  color: white;
}

/* PRODUCT PAGE */
.product-list {
  color: white;
}
.product-list p {
  color: white;
}

/* FOOTER */
.w-full {
  max-width: 95%;
  align-items: center;
  margin: 1px auto;
  background-color: rgb(18, 19, 18);
}
